@import 'reset';
@import 'variables/global';
@import 'themes/light';
@import 'themes/dark';

.app {
	font: var(--font-m);
	background: var(--primary-bg-color);
	color: var(--primary-color);

	min-height: 100vh;
}
