.app_dark_theme {
    --primary-bg-color: #283339;
    --primary-dark-bg-color: #1f282d;
    --secondary-bg-color: #34434b;
    --border-color: #495e69;
    --primary-link-color: #42b983;
    --secondary-link-color: #f07178;
    --primary-color: #d3d3d3;
    --secondary-color: #fff;
}