.app.light {
    --primary-bg-color: #fff;
    --primary-dark-bg-color: #f2f8f4;
    --secondary-bg-color: #34434b;
    --border-color: #ddd;
    --primary-link-color: #42b983;
    --secondary-link-color: #e96900;
    --primary-color: #34495e;
    --secondary-color: #fff;
}
