.Loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: relative;
    animation: flash 0.5s ease-out infinite alternate;
}

.dark {
    background-color: #999;
    box-shadow: 32px 0 #999, -32px 0 #999;
}

.light {
    background-color: #fff;
    box-shadow: 32px 0 #fff, -32px 0 #fff;
}

@keyframes flash {
    0% {
        background-color: #fff2;
        box-shadow: 32px 0 #fff2, -32px 0 #fff;
    }

    50% {
        background-color: #fff;
        box-shadow: 32px 0 #fff2, -32px 0 #fff2;
    }

    100% {
        background-color: #fff2;
        box-shadow: 32px 0 #fff, -32px 0 #fff2;
    }
}
